# gathering required info from "service_order" table to be ready for display in pick_up.html
def display_user_service_status(USER_ID):
    db.reconnect()
    BIKES = []
    BIKES_READY = []
    BIKES_INSERVICE = []
    
    
    # Find all distinct bikes per user in service_order
    crsr = db.cursor()
    crsr2 = db.cursor()
    crsr3 = db.cursor()
    crsr.execute("SELECT distinct Bike_ID FROM service_order WHERE User_ID = %s", USER_ID)
    for Bike in crsr:
        BIKES.append(Bike)
    
    # Sort fully ready serviced bikes
    for i in range(len(BIKES)):
        counter = 0
        crsr.execute("SELECT Bike_ID, count(Service_status), Service_status FROM service_order WHERE Bike_ID = %s", BIKES[i])
        for line in crsr:
            crsr2.execute("SELECT service_order.Service_ID, all_bikes.brand, bikes.model, services.Service_description, service_order.End_datetime, service_order.Service_status FROM all_bikes JOIN bikes ON all_bikes.ID = bikes.brand JOIN service_order ON bikes.ID = service_order.Bike_ID JOIN services ON services.Service_ID = service_order.Service_procedure WHERE Bike_ID=%s order by End_datetime", BIKES[i])
            for line2 in crsr2:
                if line2[5] == line[2] and line[2] == 'ready':
                    counter += 1
        if counter == line[1]:
            BIKES_READY.append(BIKES[i])
        else:
            BIKES_INSERVICE.append(BIKES[i])
    crsr2.close()
    
    # Gather summarized info for every ready for pick-up bike from "service_order" table     
    for i in range(len(BIKES_READY)):
        BIKES_READY_DICT = {}
        crsr.execute("SELECT bikes.ID, all_bikes.brand, bikes.model, sum(service_order.Service_price) FROM all_bikes JOIN bikes ON all_bikes.ID = bikes.brand JOIN service_order ON bikes.ID = service_order.Bike_ID JOIN services ON services.Service_ID = service_order.Service_procedure WHERE Bike_ID=%s", BIKES_READY[i])
        for line in crsr:
            BIKES_READY_DICT["BIKE_ID"] = line[0]
            BIKES_READY_DICT["BIKE_NAME"] = line[1] + " " + line[2]
            BIKES_READY_DICT["TOTAL_PRICE"] = line[3]
            BIKES_READY_DICT["SERVICES"] = []
        
        crsr.execute("SELECT service_order.Service_ID, services.Service_description, service_order.Service_price, service_order.End_datetime FROM all_bikes JOIN bikes ON all_bikes.ID = bikes.brand JOIN service_order ON bikes.ID = service_order.Bike_ID JOIN services ON services.Service_ID = service_order.Service_procedure WHERE Bike_ID=%s order by End_datetime", BIKES_READY[i])
        for line in crsr:
            BIKES_READY_DICT["SERVICES"].append(line)
        BIKES_READY[i] = BIKES_READY_DICT
    
    # Gather summarized info for every unready bike from "service_order" table 
    for i in range(len(BIKES_INSERVICE)):
        BIKES_INSERVICE_DICT = {}
        crsr.execute("SELECT bikes.ID, all_bikes.brand, bikes.model, sum(service_order.Service_price) FROM all_bikes JOIN bikes ON all_bikes.ID = bikes.brand JOIN service_order ON bikes.ID = service_order.Bike_ID JOIN services ON services.Service_ID = service_order.Service_procedure WHERE Bike_ID=%s", BIKES_INSERVICE[i])
        for line in crsr:
            BIKES_INSERVICE_DICT["BIKE_ID"] = line[0]
            BIKES_INSERVICE_DICT["BIKE_NAME"] = line[1] + " " + line[2]
            BIKES_INSERVICE_DICT["TOTAL_PRICE"] = line[3]
            BIKES_INSERVICE_DICT["SERVICES"] = []
        
        crsr.execute("SELECT service_order.Service_ID, services.Service_description, service_order.Service_price, service_order.End_datetime FROM all_bikes JOIN bikes ON all_bikes.ID = bikes.brand JOIN service_order ON bikes.ID = service_order.Bike_ID JOIN services ON services.Service_ID = service_order.Service_procedure WHERE Bike_ID=%s order by End_datetime", BIKES_INSERVICE[i])
        for line in crsr:
            if line[3] < time_UTC_to_IL():
                line_tmp = list(line)
                line_tmp[3] = 0
                line = (line_tmp)
            BIKES_INSERVICE_DICT["SERVICES"].append(line)
        BIKES_INSERVICE[i] = BIKES_INSERVICE_DICT
    
    
    
    

    # Gather summarized info for every completed order batch from "orders_history" table
    BIKES_COMPLETED = []
    SERVICE_BATCH = []
    
    # Find all service batches/user
    crsr.execute("SELECT DISTINCT Service_batch FROM orders_history WHERE User_ID = %s", USER_ID)
    for batch in crsr:
        
        SERVICE_BATCH.append(batch)
        
    print("SERVICE_BATCH:", SERVICE_BATCH)
    print("SERVICE_BATCH len:", len(SERVICE_BATCH))
    
    
    for item in range(len(SERVICE_BATCH)):
        BIKES_COMPLETED_DICT = {}
        
        print("item:", item)
        
        bikesarr = []
        crsr.execute("SELECT DISTINCT Bike_ID FROM orders_history WHERE Service_batch = %s", SERVICE_BATCH[item])
        for BIKE_ID in crsr:
            bikesarr.append(BIKE_ID)
        if len(bikesarr) < 2:
            print("BIKE_ID", BIKE_ID)
            crsr3.execute("SELECT bikes.ID, all_bikes.brand, bikes.model, sum(orders_history.Service_price) FROM all_bikes JOIN bikes ON all_bikes.ID = bikes.brand JOIN orders_history ON bikes.ID = orders_history.Bike_ID JOIN services ON services.Service_ID = orders_history.Service_procedure WHERE Bike_ID=%s", BIKE_ID)
            for line in crsr3:
                #print("line", line)
                BIKES_COMPLETED_DICT["BIKE_ID"] = line[0]
                BIKES_COMPLETED_DICT["BIKE_NAME"] = line[1] + " " + line[2]
                BIKES_COMPLETED_DICT["TOTAL_PRICE"] = line[3]
                BIKES_COMPLETED_DICT["SERVICES"] = []
        
            crsr3.execute("SELECT max(End_datetime), min(Start_datetime), Registration_datetime, Completed_datetime FROM orders_history WHERE Bike_ID=%s", BIKE_ID)
            for time in crsr3:
                time_spent = time[0] - time[1]
                BIKES_COMPLETED_DICT["TOTAL_TIME"] = time_spent
                BIKES_COMPLETED_DICT["IN_OUT_TIME"] = [time[2], time[3]]
    
            crsr3.execute("SELECT orders_history.Service_ID, services.Service_description, orders_history.Service_price, orders_history.End_datetime FROM all_bikes JOIN bikes ON all_bikes.ID = bikes.brand JOIN orders_history ON bikes.ID = orders_history.Bike_ID JOIN services ON services.Service_ID = orders_history.Service_procedure WHERE Bike_ID=%s order by End_datetime", BIKE_ID)
            for line in crsr3:
                BIKES_COMPLETED_DICT["SERVICES"].append(line)
                
            datearray = []
            datearray.append(BIKES_COMPLETED_DICT)
            
            BIKES_COMPLETED.append(BIKES_COMPLETED_DICT)
        else:
            print("TESTTTTTTTTTTTTTTTTT")    
        
     
     
    print(BIKES_COMPLETED)

        
    BIKES_COMPLETED2 = [[["A"], ["B"], ["C"]], [["A"], ["B"], ["C"]]]
    return BIKES_READY, BIKES_INSERVICE, BIKES_COMPLETED






[{'BIKE_ID': 31,
'BIKE_NAME': 'Trek Fuel ex 9',
'TOTAL_PRICE': 0.9,
'SERVICES':
[
(331, 'inflate tyres', 0.9, datetime.datetime(2022, 9, 6, 0, 16, 28)),
(341, 'inflate tyres', 0.9, datetime.datetime(2022, 9, 6, 0, 18, 07))
],
'TOTAL_TIME': datetime.timedelta(seconds=60),
'IN_OUT_TIME':
[
datetime.datetime(2022, 9, 6, 0, 15, 28),
datetime.datetime(2022, 9, 6, 0, 16, 55)
]
}]

{'BIKE_ID': 31, 'BIKE_NAME': 'Trek Fuel ex 9', 'TOTAL_PRICE': 0.9, 'SERVICES': [(331, 'inflate tyres', 0.9, datetime.datetime(2022, 9, 6, 0, 16, 28))], 'TOTAL_TIME': datetime.timedelta(seconds=60), 'IN_OUT_TIME': [datetime.datetime(2022, 9, 6, 0, 15, 28), datetime.datetime(2022, 9, 6, 0, 16, 55)]}






{% if SERVICES[2] %}

<h1>Your Service History</h1>
<hr>
{% for bike in SERVICES[2] %}
  <div class="accordion accordion-flush" style="font-size: small;" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" style="text-decoration: none;" id="flush-heading_{{loop.index}}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse_{{loop.index}}" aria-expanded="false" aria-controls="flush-collapseOne">
        <strong>Service Order Date:</strong> &nbsp {{ bike.IN_OUT_TIME[0] }}
        </button>
      </h2>

      <div id="flush-collapse_{{loop.index}}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" colspan="6">Bike: <strong> {{ bike.BIKE_NAME }} </strong></th>
              </tr>
              <tr>
                <th scope="col"></th>
                <th scope="col">Bike #</th>
                <th scope="col">Service #</th>
                <th scope="col">Service</th>
                <th scope="col">Service end date</th>
                <th scope="col">Price</th>
              </tr>
            </thead>

            <tbody>
              {% for service in bike.SERVICES %}
                <tr>
                  <th scope="row">{{loop.index}}</th>
                  <td>{{ bike.BIKE_ID }}</td>
                  <td>{{ service[0] }}</td>
                  <td>{{ service[1] }}</td>
                  <td>{{ service[3] }}</td>
                  <td>{{ service[2] }}$</td>
                </tr>
              {% endfor %}

              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col">Total Service Time: (H:M:S)</th>
                  <th scope="col">Pick up date</th>
                  <th scope="col">Total Service Price</th>
                </tr>

                <tr>
                  <th scope="row"></th>
                  <th scope="row"></th>
                  <th scope="row"></th>
                  <th scope="row">{{ bike.TOTAL_TIME }}</th>
                  <th scope="row">{{ bike.IN_OUT_TIME[1] }}</th>
                  <th scope="row">{{ bike.TOTAL_PRICE }}$</th>
                </tr>
              </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

{% else %}
<div class="container-fluid center header">
<strong>Looks like it's your first time in our workshop.</strong> <br> On your next visit, your service history will be shown here.
</div>
{% endif %}