
a
{
    color: black;
}

a:hover
{
    color: rgb(255, 255, 255);
}



h1
{
    color: #1272a8;
}

h2
{
    color: red;
    text-decoration: underline;
}

span
{
    color: red;
    text-decoration: underline;
}

.header
{
    background-color: #1272a8;
    color: white;
    border: 2px solid black;
    width: 80%;
    position: center;
}

.my-table
{
    width: 70%; 
    position: center;
}

.Background
{
    background-image: url("/static/Background.png");
    background-color: #ffffff;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.border
{
    border: 2px solid black;
    padding: 15px;
}

.bold
{
    padding-left: 20%;
    padding-right: 20%;
    color: rgb(238, 255, 0);
    background-color: #1272a8;
    text-decoration: underline;
    font-size: large;
}


