
a
{
    color: black;
}

a:hover
{           
    color: rgb(255, 255, 255);
}   

li:hover
{
    color: rgb(245, 1, 1);
    text-decoration: underline;
    font-size: large;
}
.noHover
{
    pointer-events: none;
}

h1
{
    color: #1272a8;
    text-decoration: underline;
}

.h1
{
    color: #1272a8;
    text-decoration: underline;
    font-size: x-large;
}

h2
{
    color: red;
    text-decoration: underline;
}
h3
{
    color: black;
}

span
{
    color: red;
    text-decoration: underline;
}

#DIV_bg_warning
{
    color: #ffffff;
}

#bikes_list
{
    color: #1272a8;
}
#bikes_list:hover
{
    color: red;
}

#P_Response
{
    color: red;
    font-size: large;
    text-decoration: underline;
}

.service_check
{
    margin: auto;
    display: none;
 }

.header
{
    background-color: #1272a8;
    color: white;
    border: 2px solid black;
    width: 80%;
    position: center;
}


.my-table
{
    width: 70%; 
    position: center;
}


.Background
{
    background-image: url("/static/Background.png");
    background-color: #ffffff;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.border
{
    border: 2px solid black;
    padding: 15px;
}

.bold
{
    padding-left: 20%;
    padding-right: 20%;
    color: rgb(255, 255, 255);
    background-color: #9c002f;
    text-decoration: underline;
    font-size: large;
}

.plain
{
    color: black;
}

.mynavbar
{
    background-color: #1272a8;
}

.bigFont
{
    font-style: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: #ffffff;
}

.thStyle
{
    text-shadow: 2px 2px 3px #000000;
    color:white;
}

.SERVICE_READY
{
    border: 2px solid green;
}
.SERVICE_RUNNING
{
    border: 2px solid orange; 
}
.SERVICE_IN_Q
{
    border: 2px solid red;  
}

.alignment-center
{
    width: 99%;
    margin: auto;
    font-size: 70%;
}

.alignment-center-cart
{
    width: 99%;
    margin: auto;
    font-size: 70%;
}

.iframe
{
    margin: none;
    padding: none;
    background: none;
    border: none;
    display: block;
    font-size: 30%;
}

.td_sum
{
    font-weight: bold;
    font-size: 100%;
    text-decoration: underline;
    text-align: center;
}

.gd_sum
{
    font-weight: bold;
    font-size: 120%;
    text-decoration: underline;
    text-align: right;
    padding-bottom: 5px;
    padding-right: 10px;

}

.table_space_bottom
{
    padding-bottom: 100px;
}

.center
{
    margin: auto;
    width: 50%;
    padding: 10px;
}

.blink-text{
    color: #000;
    font-weight: bold;
    font-size: 2rem;
    animation: blinkingText 2s infinite;
}
@keyframes blinkingText{
    0%		{ color: #10c018;}
    25%		{ color: #1056c0;}
    50%		{ color: #ef0a1a;}
    75%		{ color: #254878;}
    100%	{ color: #04a1d5;}
}

.account_center
{
    margin: auto;
    width: 50%;
}