{% extends "layout.html" %}

{% block title %}
    Add Your bike
{% endblock %}


{% block user %}
    {{ FULLNAME }}
{% endblock %}


{% block header %}
<h1>Hello {{ FULLNAME }} !</h1>
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:60%"></div>
</div>
{% endblock %}


{% block main %}


<div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card">
            <div class="text-bg-success p-3 bigFont"><span id="DIV_bg_warning">Add your bike</span></div>
            <div class="card-body">
                <form action="/add_bike" method="post">

                    <div class="mb-3">
                      <input type="text" class="form-control" id="bike_brand" value="" name="BIKE" placeholder="Start typing your bike brand" autofocus required>
                    </div>

                    <!-- List of bikes from DB -->
                    <ul id="bikes_list"></ul>

                    <script>
                        let input = document.querySelector('input');
                        input.addEventListener('input', async function() {
                            let response = await fetch('/search?q=' + input.value);
                            let bikes = await response.json();
                            let html = '';                            
                            for (let bike in bikes) {
                                console.log(bikes[bike]);
                                html += '<li><button type="button" class="btn btn-warning" id="brandBtn" onclick="changeValue(this.innerHTML)">' + bikes[bike] + '</button></li>';
                            }
                            document.getElementById("bikes_list").innerHTML = html;
                        });
                    </script>
                    <script>
                        function changeValue(value) {
                            document.getElementById("bike_brand").value = value;
                          }
                    </script>

                    <div class="mb-3">
                        <input type="text" class="form-control" id="bike_model" value="" name="MODEL" autocomplete="off" placeholder="What is your bike's model?" required>
                    </div>

                    <div class="mb-3">
                        <select class="form-select" aria-label="Default select example" name="YEAR">
                            <option selected>What year is your bike?</option>
                            {% for year in YEARS %}
                            <option value="{{ year }}">{{ year }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Add my bike</button>
                </form>
            </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}