{% extends "layout.html" %}

{% block title %}
    cart
{% endblock %}

{% block user %}
    {{ FULLNAME }}
{% endblock %}

{% block header %}
<h1>Your cart summary</h1>
{% endblock %}


{% block main %}
<h2>Please confirm your order</h2>

{% for service in SERVICES %}

{% if service['bike_services'] %}
    <p>{{ service['bike_ID'] }},
        {% for work in service['bike_services'] %}
        {{ work }},
        {% endfor %}
        {{ service['bike_service_notes'] }}
    </p>
{% endif %}

{% endfor %}

{% endblock %}