{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block head %}
{% endblock %}

{% block header %}
    <h1>This app allows you to book service & pick your bike from service at our workshop</h1>
{% endblock %}


{% block main %}
<div class="container-fluid  text-center">

    <div class="row-container">
        <div class="first-row mx-auto">
            <h2 style="text-align: center;">Now in service Queue</h2>
        </div>
        <div class="alignment-center">
            <iframe src="/iframe" id="myIframe" style="width: 100%; border: 2px solid #ccc; background-image:url(/static/loading2.png)"></iframe>
        </div>
    </div>

    <div class="row align-items-start" style="margin-top: 3%;">
        <!-- Main -->
        <div class="col text-center">
            <form action="/login" method="post">

                <div class="mb-3">
                    <label for="email" class="form-label"><strong><h3>Enter your login details</h3></strong></label>
                    <input type="email" class="form-control mx-auto w-auto" name="email" placeholder="e.g. Your Email@something.com" required>
                </div>

                <div class="mb-3">
                    <input type="password" id="verPasswd3" class="form-control mx-auto w-auto" name="password" placeholder="One number, one uppercase and lowercase letter, 8 or more characters" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                    <input type="checkbox" onclick="showPsswrd('3')">Show Password
                </div>
                <p style="color:red;"><b>{{ loginError }}</b></p>

                <button class="btn btn-success" type="submit">Log In</button>
            </form>

            <br>
            <p><h4><strong>Not a member yet?  Register now!</h4></strong></p>
            <button class="btn btn-danger" type="button"><a href="/register">Register now</a></button>
            <br><br>
            {% set colorswitch = 0 %}
            {% if loginError %}
                {% set colorswitch = 1 %}
            {% endif %}
            <div id="recover_p" class="">
                <p><h4><strong>Forgot your user name or password?  Recover it now!</h4></strong></p>
            </div>
            <button id="recover_btn" class="btn btn-warning" type="button">Recover your account</button>

            <div id="recover_div" class="row service_check" style="margin-top: 10px;">
                <form action="/recover" method="post">
                    <div class="col-50">
                        <label id="forgot_email_lbl" for="forgot_email">Forgot Your Email? &nbsp; &nbsp; &nbsp; &nbsp;</label>
                        <input type="number" id="forgot_email" name="Recover_Email" placeholder="Enter Your Phone" pattern="(?=.*\d)" title="Enter Your Phone Number" required>
                    </div>
                    <div class="col-50">
                        <label id="forgot_pswrd_lbl" for="forgot_pswrd">Forgot Your Password? &nbsp;</label>
                        <input type="email" id="forgot_pswrd" name="Recover_Pswrd" placeholder="Enter Your Email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,4}$" title="Enter Your Email">
                    </div>
                    <button class="btn btn-success" style="margin-top: 10px;" type="submit">Recover Now!</button>
                </form>
            </div>
        </div>
    </div>
</div>

    
<script>
// Selecting the iframe element
var iframe = document.getElementById("myIframe");

// Adjusting the iframe height onload event
iframe.onload = function(){
    iframe.style.height = iframe.contentWindow.document.body.scrollHeight + 'px';
}

// Show Recover form
$(document).ready(function(){
    $("#recover_btn").click(function(){
      $("#recover_div").slideToggle("slow");
    });
  });

// Change contrast color enable blinking
if ({{colorswitch}} === 1){
    $("#recover_p").addClass("blink-text");
}
</script>


{% endblock %}