{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}


{% block header %}
<div class="col text-center">
    <h1>This app allow you to book an appointment for our top rated service</h1>
</div>
{% endblock %}



{% block main %}

<div class="container-fluid text-center">
    <div class="row content">

        <!-- Left side container -->
        <div class="col-sm-2 sidenav1">
            <p id="P1_left">Some Info will be added later.</p>
        </div>

        <!-- Main -->
        <div class="col-sm-8 text-left">
            <form action="/login" method="post">

                <div class="mb-3">
                    <input class="form-control mx-auto w-auto" id="email" name="email" placeholder="Email" type="email">
                </div>


                <div class="mb-3">
                    <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
                </div>

                <button class="btn btn-success" type="submit">Log In</button>

                <p>Not a member yet?  Register now!</p>
            </form>

            <button class="btn btn-danger" type="button"><a href="/register">Register now</a></button>
        </div>

        <!-- Right side container -->

        <div class="col-sm-2 sidenav1">
            <div>
                <p id="P1_right">Some Decoration will be added later.</p>
            </div>
        </div>

    </div>
</div>


{% endblock %}




<!--
    <div class="container-fluid">
        <form action="/login" method="post">
            <div class="mb-3">
                <input autocomplete="off" required autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Log In</button>
            <p>Not a member yet?  Register now!</p>
        </form>
        <button class="btn btn-primary" type="button"><a href="/register">Register now</a></button>
    </div>
-->