{% extends "layout.html" %}

{% block title %}
    Main page
{% endblock %}


{% block Refresh %}
http-equiv="refresh" content="60"
{% endblock %}


{% block user %}
    {{ FULLNAME }}
{% endblock %}

{% block header %}
  <h1>Welcome To G-Bikes</h1>

  <table class="table table-success table-striped-columns table-hover">
    <thead class="table-dark" style="border: 2px solid black;">
      {% if SERVICE_IN_Q or SERVICE_RUNNING or SERVICE_READY %}
        <tr>
          <th scope="col">Service #</th>
          <th scope="col">Bike name</th>
          <th scope="col">Bike model</th>
          <th scope="col">Service</th>
          <th scope="col">End service time</th>
        </tr>
      {% endif %}
    </thead>

    <tbody>
      {% if SERVICE_READY %}
      <div id="SERVICE_READY">

        <tr class="SERVICE_READY noHover">
          <th scope="row" class="thStyle" colspan="6" style="background-color:green;">
              Last finished service
          </th>
        </tr>

        <tr class="SERVICE_READY noHover">
          <th colspan="6">
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%"></div>
            </div>
          </th>
        </tr>

        {% for addon in SERVICE_READY %}
        <tr class="SERVICE_READY">
            <th scope="row">{{ addon[0] }}</th>
            <td>{{ addon[1] }}</td>
            <td>{{ addon[2] }}</td>
            <td>{{ addon[3] }}</td>
            <td>{{ addon[4] }}</td>
        </tr>
        {% endfor %}

      </div>
      {% endif %}

      <!-- SERVICE_RUNNING -->
      {% if SERVICE_RUNNING %}
      <div id="SERVICE_RUNNING">

        <tr class="SERVICE_RUNNING noHover">
          <th scope="row" class="thStyle" colspan="6" style="background-color:orange;">
            Serviced now
          </th>
        </tr>

        <tr class="SERVICE_RUNNING noHover">
          <th colspan="6">
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:50%"></div>
            </div>
          </th>
        </tr>

        {% for service in SERVICE_RUNNING %}
        <tr class="SERVICE_RUNNING">
            <th scope="row">{{ service[0] }}</th>
            <td>{{ service[1] }}</td>
            <td>{{ service[2] }}</td>
            <td>{{ service[3] }}</td>
            <td>{{ service[4] }}</td>
        </tr>
        {% endfor %}

      </div>
      {% endif %}

      <!-- SERVICE_IN_Q -->
      {% if SERVICE_IN_Q %}
      <div id="SERVICE_IN_Q">

        <tr class="SERVICE_IN_Q noHover">
          <th scope="row" class="thStyle" colspan="6" style="background-color:red;">
            Next service
          </th>
        </tr>

        <tr class="SERVICE_IN_Q noHover">
          <th colspan="6">
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:5%"></div>
            </div>
          </th>
        </tr>

        {% for addon in SERVICE_IN_Q %}
        <tr class="SERVICE_IN_Q">
            <th scope="row">{{ addon[0] }}</th>
            <td>{{ addon[1] }}</td>
            <td>{{ addon[2] }}</td>
            <td>{{ addon[3] }}</td>
            <td>{{ addon[4] }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <div id="NO_SERVICE_IN_Q">

          <tr class="SERVICE_IN_Q noHover">
            <th scope="row" class="thStyle" colspan="6" style="background-color:red;">
              Considering workshop's business hours: ({{ WORKING_HOURS[0] }}=>{{ WORKING_HOURS[1] }}) Our workshop is ready to get you serviced immediately &#128512;
            </th>
          </tr>
  
          <tr class="SERVICE_IN_Q noHover">
            <th colspan="6">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:5%"></div>
              </div>
            </th>
          </tr>
      </div>
      {% endif %}


    </tbody>
  </table>
{% endblock %}













{% block main %}

<div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card">
            <!-- <img src="..." class="card-img-top" alt="Leave your bike"> -->
            <div class="text-bg-success p-3 bigFont"><span id="DIV_bg_warning">Get service</span></div>
          
            <div class="card-body">
              <h6 class="card-title">Leave your bike for service</h6>
              <p class="card-text">Here you can specify what service required for your bike.</p>
              <a href="/service" class="btn btn-primary">To service</a>
            </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
            <!-- <img src="..." class="card-img-top" alt="Peek your bike"> -->
            <div class="text-bg-danger p-3 bigFont"><span id="DIV_bg_warning">Pick my bike</span></div>
          
            <div class="card-body">
              <h6 class="card-title">Pick up your bike from service</h6>
              <p class="card-text">Get your serviced bike & pay the service.</p>
              <a href="/pick_up" class="btn btn-primary">From service</a>
            </div>
        </div>
      </div>
    </div>
</div>

<div class="container text-center">
    <div class="row">
      <div class="col">
        <br>
        <div class="card">
            <!-- <img src="..." class="card-img-top" alt="Peek your bike"> -->
            <div class="text-bg-warning p-3 bigFont"><span id="DIV_bg_warning">Check your service status</span></div>
          
            <div class="card-body">
              <h6 class="card-title">Your service status</h6>
              <p class="card-text">From here, you can allways check whether your bike is ready and what has already done.</p>
              <a href="#" class="btn btn-primary">Check status</a>
            </div>
        </div>
      </div>    
    </div>
</div>

{% endblock %}