{% extends "layout.html" %}

{% block title %}
    Pick up
{% endblock %}


{% block Refresh %}

{% endblock %}
<!-- http-equiv="refresh" content="120" -->


{% block user %}
    {{ FULLNAME }}
{% endblock %}

{% block header %}
  <h1>Your services status list and pick up</h1>
  <form id="pay_form" action="/payment" method="post">
    <div class="alignment-center">
      <table class="table table-success table-striped-columns table-hover">

        <!-- Table for bikes that ready for pick up  -->
          {% set serviceReady = 0 %}
        {% if SERVICES[0] %}
          {% set serviceReady = 1 %}
          <thead class="table-dark" style="border: 2px solid black;">
              <tr>
                <th scope="col">Service #</th>
                <th scope="col">Service</th>
                <th scope="col">Status</th>
                <th scope="col">Service price</th>
              </tr>
          </thead>

          <tbody>
            <div id="SERVICES">
              {% for service in SERVICES[0] %}

                <tr class="SERVICE_READY noHover">
                  <th scope="row" class="thStyle" colspan="4" style="background-color:green;">
                    Bike# {{ service["BIKE_ID"] }} - {{ service["BIKE_NAME"] }}
                  </th>
                </tr>

                {% for procedure in service["SERVICES"] %}

                  <tr class="SERVICE_READY">
                    <th scope="row">{{ procedure[0] }}</th>
                    <td>{{ procedure[1] }}</td>
                    <td>&#x2611;</td>
                    <td>{{ procedure[2] }}$</td>
                  </tr>

                {% endfor %}

                <tr class="SERVICE_READY">
                  <td colspan="3" style="background-color: transparent;margin:0 auto; text-align: center; pointer-events: none;">
                    <button type="button" class="btn btn-success" style="width: 100%; margin-top: 16px;">Bike is ready</button>
                  </td>


                  <td style="border: 2px solid green;">
                    <div class="form-check td_sum" style="text-align: left;">
                      Total service price: {{ service["TOTAL_PRICE"] }}$
                      <hr>
                      <input class="form-check-input" type="checkbox" id="bike_{{ service["BIKE_ID"] }}" name="pay" value="{{ service["BIKE_ID"] }}" onClick="checkboxes();">
                      <label class="form-check-label" style="font-size: small;" for="bike_{{ service["BIKE_ID"] }}">Pick {{ service["BIKE_NAME"] }}</label>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </div>
          </tbody>
        {% endif %}


        <!-- Table for bikes that still in service  -->
          {% set inService = 0 %}
        {% if SERVICES[1] %}
          {% set inService = 1 %}

          <thead class="table-dark" style="border: 2px solid black;">
            <tr>
              <th scope="col">Service #</th>
              <th scope="col">Service</th>
              <th scope="col">Status</th>
              <th scope="col">Service price</th>
            </tr>
          </thead>


          <tbody>
              <div id="SERVICES">
                {% for service in SERVICES[1] %}

                  <tr class="SERVICE_IN_Q noHover">
                    <th scope="row" class="thStyle" colspan="4" style="background-color:red;">
                      Bike# {{ service["BIKE_ID"] }} - {{ service["BIKE_NAME"] }}
                    </th>
                  </tr>

                  {% for procedure in service["SERVICES"] %}

                    <tr class="SERVICE_IN_Q">
                      <th scope="row">{{ procedure[0] }}</th>
                      <td>{{ procedure[1] }}</td>
                      {% if procedure[3] == 0 %}
                        <td>&#x2611;</td>
                        <td>{{ procedure[2] }}$</td>
                      {% else %}
                      <td>&#10006;</td>
                      <td>{{ procedure[2] }}$</td>
                      {% endif %}
                    </tr>

                  {% endfor %}

                  {% set BIKE_READY_TIME = service["SERVICES"]|count %}
                  {% set BIKE_READY_TIME2 = service["SERVICES"][BIKE_READY_TIME-1][3] %}
                  <tr class="SERVICE_IN_Q">
                      <td style="display:none;" id="countdown_read">{{ BIKE_READY_TIME2 }}</td>
                      <td class="td_sum" colspan="3">This service ends on: &nbsp {{ BIKE_READY_TIME2 }} &nbsp &#x2192; &nbsp EET: &nbsp <span id="countdown"></span></td>
                      <td class="td_sum" style="border: 2px solid red;">Total service price: {{ service["TOTAL_PRICE"] }}$</td>
                  </tr>

                {% endfor %}
              </div>
          </tbody>

          {% elif (inService == 0) and (serviceReady == 0) %}
            <thead class="table-dark" style="border: 2px solid black; font-size: small;">
              <tr>
                <th colspan="4" scope="col">
                  Ooooppssss....<br>
                  <br>Seems like there are no bikes ready fot pick-up yet.
                  <br>You should book a new srvice appointment first!
                </th>
              </tr>
            </thead>

            <tbody>
              <div id="SERVICES" style="font-size: small;">
                <tr class="SERVICE_READY noHover">
                  <th scope="row" class="thStyle" colspan="4" style="background-color:green; font-size: small;">
                    You can do so from the button below &#8659;
                  </th>
                </tr>
                <tr>
                  <td><a id="toService_btm" href="/service" class="btn btn-primary">To service</a></td>
                </tr>
              </div>
            </tbody>
          {% endif %}
      </table>
    </div>

    <button type="button" class="btn btn-info" id="pay_form_button"> Pick N' Pay for 
      <span class="badge text-bg-secondary" id="count_checkboxes">0</span> bike/s
    </button>
  </form>

<!-- Scripts -->
<script>
// Script for updating checked checkboxes on button //
  function checkboxes()
  {
    var inputElems = document.getElementsByTagName("input");
    count = 0;
    for (var i=0; i<inputElems.length; i++) {
      if (inputElems[i].type == "checkbox" && inputElems[i].checked == true)
      {
        count++;
        const elem = document.getElementById('count_checkboxes');
      }
    }
    const elem = document.getElementById('count_checkboxes');
    elem.innerHTML = count;
    return count;
  }

// Script for sending form from button //
  var form = document.getElementById("pay_form");
  document.getElementById("pay_form_button").addEventListener("click", function () {
    var count = checkboxes();
    console.log(count);
    if (count > 0)
    {
      form.submit();
    } else {
      alert("Please choose a bike to pick-up from service")
    }
  });

// Script for service contdown //
if ({{inService}} === 1) {
  var x = setInterval(function() {
    let readyTime = document.getElementById("countdown_read").innerHTML;
    var countDownDate = new Date(readyTime).getTime();
    var now = new Date().getTime();
    var distance = countDownDate - now;
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    document.getElementById("countdown").innerHTML = " " + days + "d " + hours + "h "
    + minutes + "m " + seconds + "s ";    

    // If service ended - reload page //
    if (distance < 0) {
      clearInterval(x);
      document.getElementById("countdown").innerHTML = " This service ended";
      location.reload();
    }
  }, 1000);
}

// Script to hide submit button //
if ({{serviceReady}} === 0) {
  document.getElementById("pay_form_button").style.display = "none";
}
</script>

{% endblock %}






{% block main %}

  {% if SERVICE_HISTORY %}
    <h1>Your Service History</h1>
    <h2>{{SERVICE_HISTORY}}</h2>
  {% endif %}

{% endblock %}
