{% extends "layout.html" %}

{% block title %}
    Pick up
{% endblock %}


{% block Refresh %}
http-equiv="refresh" content="120"
{% endblock %}


{% block user %}
    {{ FULLNAME }}
{% endblock %}

{% block header %}
  <h1>Your services status list and pick up</h1>
  <div class="alignment-center">
    <table class="table table-success table-striped-columns table-hover">
      <thead class="table-dark" style="border: 2px solid black;">
        {% if SERVICE_IN_Q or SERVICE_RUNNING or SERVICE_READY %}
          <tr>
            <th scope="col">Service #</th>
            <th scope="col">Service</th>
            <th scope="col">Status</th>
            <th scope="col">End service time</th>
          </tr>
        {% endif %}
      </thead>

      <tbody>
        {% if SERVICE_READY %}
        <div id="SERVICE_READY">

          {% for addon in SERVICE_READY %}

          <tr class="SERVICE_READY noHover">
            <th scope="row" class="thStyle" colspan="4" style="background-color:green;">
              {{ addon[1] }}, {{ addon[2] }}
            </th>
          </tr>
          <!-- <tr class="SERVICE_READY noHover">
            <th colspan="6">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%"></div>
              </div>
            </th>
          </tr> -->
          <tr class="SERVICE_READY">
              <th scope="row">{{ addon[0] }}</th>
              <td>{{ addon[3] }}</td>
              <td>Status</td>
              <td>{{ addon[4] }}</td>
          </tr>
          {% endfor %}

        </div>
        {% endif %}

        <!-- SERVICE_RUNNING -->
        {% if SERVICE_RUNNING %}
        <div id="SERVICE_RUNNING">

          <tr class="SERVICE_RUNNING noHover">
            <th scope="row" class="thStyle" colspan="6" style="background-color:orange;">
              Serviced now
            </th>
          </tr>

          <tr class="SERVICE_RUNNING noHover">
            <th colspan="6">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:50%"></div>
              </div>
            </th>
          </tr>

          {% for service in SERVICE_RUNNING %}
          <tr class="SERVICE_RUNNING">
              <th scope="row">{{ service[0] }}</th>
              <td>{{ service[1] }}</td>
              <td>{{ service[2] }}</td>
              <td>{{ service[3] }}</td>
              <td>{{ service[4] }}</td>
          </tr>
          {% endfor %}

        </div>
        {% endif %}

        <!-- SERVICE_IN_Q -->
        {% if SERVICE_IN_Q %}
        <div id="SERVICE_IN_Q">

          <tr class="SERVICE_IN_Q noHover">
            <th scope="row" class="thStyle" colspan="6" style="background-color:red;">
              Next service/s
            </th>
          </tr>

          <tr class="SERVICE_IN_Q noHover">
            <th colspan="6">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:5%"></div>
              </div>
            </th>
          </tr>

          {% for addon in SERVICE_IN_Q %}
          <tr class="SERVICE_IN_Q">
            <th scope="row">{{ addon[0] }}</th>
            <td>{{ addon[1] }}</td>
            <td>{{ addon[2] }}</td>
            <td>{{ addon[3] }}</td>
            <td>{{ addon[4] }}</td>
          </tr>
          {% endfor %}
        {% endif %}


      </tbody>
    </table>
  </div>
{% endblock %}


{% block main %}

<h2>Main</h2>


{% endblock %}
