{% extends "layout.html" %}

{% block title %}
    recover_account
{% endblock %}

{% block user %}

{% endblock %}

{% block header %}
<h1>Recover your account</h1>
{% endblock %}

{% block main %}

{% if TMPARRAY[3] == None %}
<div class="container-fluid  text-center" style="width: 90%;">
    <h3>We can't find any activated account that corresponds to email <strong><u> {{ TMPARRAY[0] }} </u></strong> or to the Email
        that corresponds to phone number <strong><u> {{ TMPARRAY[1] }} </u></strong></h3>
    <hr>
    <h3>But, you can allways join us...</h3>
    <p><h4><strong><u>Not a member yet?  Register now!</u></h4></strong></p>
    <button class="btn btn-success" type="button"><a href="/register">Register now</a></button>
</div>

{% elif TMPARRAY[2] == None %}
<div class="container-fluid  text-center" style="width: 90%;">
    <h3>We sent an Email with a verification code to <strong><u> {{ TMPARRAY[0] }} </u></strong> or to the Email
        that corresponds to phone number <strong><u> {{ TMPARRAY[1] }} </u></strong></h3>
    <hr><br>
    <h3>Please check your mailbox and enter the received verification code</h3>
    <h3>***if you didn't receive your code you might check your spam folder***</h3>
</div>

<div class="col text-center">
   <form id="TWOSTEPCODE" action="/recover" method="post">

       <div class="mb-3" style="padding-top: 2rem;">
           <label for="Ver_Code" class="form-label"><strong><h3>Enter your verification code</h3></strong></label>
           <input type="text" id="Ver_Code" class="form-control mx-auto w-auto" name="Ver_Code" placeholder="Received Code" required>
           <input type="hidden" class="form-control mx-auto w-auto" name="EMAIL" value="{{ TMPARRAY[0] }}">
       </div>

       <button id="TWOSTEPCODE_BTN" class="btn btn-success" type="button">Confirm</button>
   </form>
</div>
{% else %}

{% endif %}

<script>
var form = document.getElementById("TWOSTEPCODE");
var messege = 'YesIKnowYouCanSee{{TMPARRAY[3]}}AndWeShouldDoItOtherwiseThroughPostSending J';
var messegestr = messege.substring(17, 21);
var inputCode = document.getElementById("Ver_Code");

document.getElementById("TWOSTEPCODE_BTN").addEventListener("click", function () {
    if (messegestr === inputCode.value) {
        alert("Please check your MailBox once again. We sent new temporary Password to your Mailbox");
        form.submit();
    } else {
        alert("Verification code is incorrect. Please recheck your input or MailBox!");
    }
});
</script>

{% endblock %}