{% extends "layout.html" %}

{% block title %}
    recover_account
{% endblock %}

{% block user %}

{% endblock %}

{% block header %}
<h1>Recover your account</h1>
{% endblock %}

{% block main %}
{{ TMPARRAY }}
{% if TMPARRAY[3] == None %}

<h2>We can't find any account that corresponds to email <span style="color:black;"><strong> {{ TMPARRAY[0] }} </strong></span> or to the Email
    that corresponds to phone number <span style="color:black;"> {{ TMPARRAY[1] }} </span></h2>
<hr>
<h3>But, you can allways join us...</h3>
<p><h4><strong>Not a member yet?  Register now!</h4></strong></p>
<button class="btn btn-success" type="button"><a href="/register">Register now</a></button>

{% elif TMPARRAY[2] == None %}
<h2>We sent an Email with a verification code to <span style="color:black;"><strong> {{ TMPARRAY[0] }} </strong></span> or to the Email
    that corresponds to phone number <span style="color:black;"> {{ TMPARRAY[1] }} </span></h2>
<h3>Please check your mailbox and enter the received verification code</h3>
<h3>***if you didn't receive your code you might check your spam folder***</h3>

<div class="col text-center">
   <form id="TWOSTEPCODE" action="/recover" method="post">

       <div class="mb-3" style="padding-top: 2rem;">
           <label for="Ver_Code" class="form-label"><strong><h3>Enter your verification code</h3></strong></label>
           <input type="text" id="Ver_Code" class="form-control mx-auto w-auto" name="Ver_Code" placeholder="Received Code" required>
       </div>

       <button id="TWOSTEPCODE_BTN" class="btn btn-success" type="button">Confirm</button>
   </form>
</div>
{% else %}

{{ TMPARRAY }}

{% endif %}

<script>
var form = document.getElementById("TWOSTEPCODE");
var code = {{ TMPARRAY[3] }};
var inputCode = document.getElementById("Ver_Code");

document.getElementById("TWOSTEPCODE_BTN").addEventListener("click", function () {
    if (code === parseInt(inputCode.value)) {
        form.submit();
    } else {
        alert("Verification code is incorrect. Please recheck your input!");
    }
});
</script>

{% endblock %}