{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}


{% block header %}
<div class="col text-center">
    <h1>Just few tiny steps to get to know you</h1>
</div>

<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:40%"></div>
</div>
{% endblock %}




{% block main %}


<form class="row g-3" action="/register" method="post">

    <div class="col-md-4">
        <label for="Fname" class="form-label">First name</label>
        <input type="text" class="form-control" id="Fname" name="Fname" autocomplete="off" placeholder="First name" autofocus required>
    </div>
    

    <div class="col-md-4">
        <label for="Lname" class="form-label">Last name</label>
        <input type="text" class="form-control" id="Lname" name="Lname" autocomplete="off" placeholder="Last name" required>
    </div>


    <div class="col-md-4">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" value="" name="email" placeholder="e.g. Your Email@something.com" required>
    </div>


    <div class="col-md-6">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="One number, one uppercase and lowercase letter, 8 or more characters" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
      <input type="checkbox" onclick="showPsswrd('password')">Show Passwords
    </div>


    <div class="col-md-6">
        <label for="password2" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="password2" name="password2" placeholder="Repeat password" required>
    </div>


    <p class="bold">{{ response }}</p>


    <div class="col-md-4">
        <label for="phone" class="form-label">Phone number</label>
        <input type="number" class="form-control" id="phone" name="phone" placeholder="+972......" required>
    </div>


    <div class="col-md-4">
        <label for="city" class="form-label">City</label>
        <input type="text" class="form-control" id="city"  name="city" placeholder="Where are you from" required>
    </div>
      

    <div class="col-md-4">
      <label for="address" class="form-label">Address</label>
      <input type="text" class="form-control" id="address" value="" name="address" placeholder="1234 Main St" required>
    </div>

    
    <div class="col-12">
      <button id="Sub1" type="submit" class="btn btn-danger">Register me</button>
    </div>
</form>

<!--
<div class="col-12">
    <input type="button" value="Send Email" onclick="sendMail()"/>
</div>
-->

{% endblock %}
