{% extends "layout.html" %}

{% block title %}
    Service
{% endblock %}

{% block user %}
    {{ FULLNAME }}
{% endblock %}

{% block header %}
<h1>Hello {{ FULLNAME }} !</h1>
{% endblock %}

{% block main %}
<div class="container text-center text-bg-info p-2"><h2>Please choose a bike to service:</h2></div>
<br>

<form action="/cart" method="post">

{% for bike in USER_BIKES %}

<div class="container text-center" id="{{ bike[0] }}">
    <div class="row">
      <div class="col">
        <div class="card">
            <!-- <img src="https://lapierre-shopware.accell.cloud/media/cf/a5/23/1606914385/Zesty%20AM%209.9%20-%20View%20(2).jpg" width="10%" height="10%" class="card-img-top" alt="Leave your bike"> -->

            <div class="card-body">
              <h4 class="card-title">{{ bike[1] }} {{ bike[2] }} {{ bike[3] }}<h6>Bike# {{ bike[0] }}</h6></h4>
              <button type="button" id="BTN_{{ bike[1] }}{{ bike[0] }}" class="btn btn-success">Choose service for {{ bike[2] }}</button>
              <!-- Remove bike VIA 'remove_bike' function in JavaScript.js -->
              <button type="button" name="{{ bike[0] }}" class="btn btn-dark" onclick="remove_bike(this.name)">Remove {{ bike[2] }}</button>
            </div>

            <div class="col-md-8 service_check" id="Service_{{ bike[1] }}{{ bike[0] }}">
                <table class="table table-success table-striped-columns">

                  <thead class="table-dark">
                    <tr>
                      <th scope="col"></th>
                      <th scope="col" colspan="2">Service</th>
                      <th scope="col">Price</th>
                      <th scope="col">Yes/No</th>
                    </tr>
                  </thead>

                  {% for service in SERVICES %}
                  <tbody>
                    <tr>
                      <th scope="row">#{{ service.Service_ID }}</th>
                      <td colspan="2">{{ service.Service_description }}</td>
                      <td>{{ service.Service_price }}$</td>
                      <td><input class="form-check-input" id="checkbox" type="checkbox" name="bike_{{ bike[0] }}" value="{{ service.Service_ID }}"></td>
                    </tr>
                  </tbody>
                  {% endfor %}
                  <tr>
                    <td colspan="5"><div class="mb-3">
                      <label for="ServiceNotes" class="form-label">Explain your service request/s (*Optioanl)</label>
                      <input class="form-control" type="textarea" id="ServiceNotes" rows="3" name="ServiceNotes" value="" placeholder="You can specify your claims here."></input>
                    </div></td>
                  </tr>
                </table>
                <script>
                  $(document).ready(function(){
                    $("#BTN_{{ bike[1] }}{{ bike[0] }}").click(function(){
                      $("#Service_{{ bike[1] }}{{ bike[0] }}").slideToggle("slow");
                    });
                  });
                </script>
            </div>
        </div>
      </div>
    </div>
</div>
{% endfor %}

<br>
<!--button "send_service" is @ display:none unless checkbox checked-->
<button id="send_service" type="submit" class="btn btn-danger service_check">Send your service</button>
</form>

<!-- Script for "send_service" show/hide button -->
<script>
  $('input:checkbox').change(function() {
    if ($('input:checkbox').is(':checked')) {
      $("#send_service").show("slow");
    } else {
      $("#send_service").slideToggle("slow");
    }
  });
</script>


<br>
<div class="container text-center text-bg-info p-2">
    <p>Would you like to add another bike?</p>
    <button type="button" class="btn btn-primary"><a href="/add_bike">Add another bike</a></button>
</div>


{% endblock %}