{% extends "layout.html" %}

{% block title %}
    Service
{% endblock %}

{% block user %}
    {{ FULLNAME }}
{% endblock %}

{% block header %}
<h1>Hello {{ FULLNAME }} !</h1>
{% endblock %}

{% block main %}
<div class="container text-center text-bg-info p-2"><h2>Please choose a bike to service:</h2></div>
<br>

<!-- <div class="container text-center text-bg-info p-2">{{ BIKES }}</div> -->


{% for bike in USER_BIKES %}

<div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card">
            <!-- <img src="..." class="card-img-top" alt="Leave your bike"> -->
            <!-- <div class="text-bg-success p-3 bigFont"><span id="DIV_bg_warning">Get service</span></div> -->
          
            <div class="card-body">
              <h4 class="card-title">{{ bike[1] }} {{ bike[2] }} {{ bike[3] }}<h6>Bike# {{ bike[0] }}</h6></h4>
              <!-- <p class="card-text">Here you can specify what service required for your bike.</p> -->
              <button type="button" class="btn btn-success">Choose service</button>
              <!-- <a href="/service" class="btn btn-primary">Choose service</a> -->
              <button type="button" class="btn btn-dark">Remove bike</button>

            </div>
        </div>
      </div>
    </div>
</div>

{% endfor %}





<br>
<div class="container text-center text-bg-info p-2">
    <p>Would you like to add another bike?</p>
    <button type="button" class="btn btn-primary"><a href="/add_bike">Add another bike</a></button>
</div>









{% endblock %}