{% extends "layout.html" %}

{% block title %}
    Service
{% endblock %}

{% block user %}
    {{ FULLNAME }}
{% endblock %}

{% block header %}
<h1>Hello {{ FULLNAME }} !</h1>
{% endblock %}

{% block main %}
<div class="container text-center text-bg-info p-2"><h2>Please choose a bike to service:</h2></div>
<br>

<!-- <div class="container text-center text-bg-info p-2">{{ BIKES }}</div> -->


{% for bike in USER_BIKES %}

<div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card">
            <!-- <img src="..." class="card-img-top" alt="Leave your bike"> -->

            <div class="card-body">
              <h4 class="card-title">{{ bike[1] }} {{ bike[2] }} {{ bike[3] }}<h6>Bike# {{ bike[0] }}</h6></h4>
              <button type="button" id="BTN_{{ bike[1] }}" class="btn btn-success">Choose service</button>
              <button type="button" class="btn btn-dark">Remove bike</button> <!-- To Be added later -->
            </div>

            <div class="col-md-8 service_check" id="Service_{{ bike[1] }}">
              <form action="/cart" method="post">

                <table class="table table-success table-striped-columns">
                  <thead class="table-dark">
                    <tr>
                      <th scope="col"></th>
                      <th scope="col" colspan="2">Service</th>
                      <th scope="col">Price</th>
                      <th scope="col">Yes/No</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td colspan="2">clean-up and wheel allignment</td>
                      <td>30$</td>
                      <td><input class="form-check-input" type="checkbox" name="clean-up" value="clean-up" id="clean-up"></td>
                    </tr>
                  </tbody>
                </table>
                <script>
                  $(document).ready(function(){
                    $("#BTN_{{ bike[1] }}").click(function(){
                      $("#Service_{{ bike[1] }}").slideToggle("slow");
                    });
                  });
                </script>

              </form>
            </div>
        </div>
      </div>
    </div>
</div>



{% endfor %}







<br>
<div class="container text-center text-bg-info p-2">
    <p>Would you like to add another bike?</p>
    <button type="button" class="btn btn-primary"><a href="/add_bike">Add another bike</a></button>
</div>









{% endblock %}