{% extends "layout.html" %}

{% block title %}
    2-step verification
{% endblock %}


{% block header %}


<h1>Please check your mailbox. We sent you an Email with your verification code. 
    Email sent ${message} to: ${receiver}
    You might check your SPAM folder if it taking too long.</h1>
{% endblock %}




{% block main %}

<form class="row g-3" action="/verification" method="post">


    <div class="col-md-6">
      <label for="verPasswd2" class="form-label">Password</label>
      <input type="password" id="verPasswd1" name="verPasswd1" value="{{TwoStepCode}}" hidden>
      <input type="password" class="form-control" id="verPasswd2" name="verPasswd2" placeholder="Please enter your verification code" required>

      <input type="checkbox" onclick="showPsswrd('2')">Show Password
    </div>


    
    <div class="col-12">
      <button id="Sub1" type="submit" class="btn btn-danger">Register me</button>
    </div>
</form>


{% endblock %}
