{% extends "layout.html" %}

{% block title %}
    2-step verification
{% endblock %}


{% block header %}


<h1>{{ user[0]["FNAME"] }}, Please check your mailbox.</h1>
<br>

<h2>We sent you an Email with your verification code to: {{ user[2]["EMAIL"] }}<h2>

<h3 class="plain">You might check your SPAM folder if it taking too long.</h3>


{% endblock %}




{% block main %}

<form class="row g-3" action="/verification" method="post">


    <div class="col-md-6">
      <label for="verPasswd2" class="form-label">Password</label>
      <input type="password" id="verPasswd1" name="verPasswd1" value="{{TwoStepCode}}" hidden>
      <input type="email" name="EMAIL" value="{{EMAIL}}" hidden>

      <input type="password" class="form-control" id="verPasswd2" name="verPasswd2" placeholder="Please enter your verification code" required autofocus>

      <input type="checkbox" onclick="showPsswrd('2')">Show Password
    </div>


    
    <div class="col-12">
      <button id="Sub1" type="submit" class="btn btn-danger">Register me</button>
    </div>
</form>


{% endblock %}
